@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>This website is in alpha. Please be patient, as there are likely some bugs :)</h4>

<p class="has-warning">This website relies on cookies. Please ensure that the browser you are using supports cookies!</p>


<h3>FAQ's</h3>
<p class="text-primary">When should I expect to start seeing results?</p>
<p>Ideally the same day you start! But in reality the models we use to estimate starting calories and macronutrients are based on generalized data. After you have followed your prescribed macronutrients for 2 weeks (including two updates) they should become incredibly specific to your needs and progress!</p>
<br/>

<p class="text-primary">How often should I update my information on the Calculate tab?</p>
<p>Every seven days. Take your average weight for the week and use your favorite method of estimating your body fat.</p>